################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhotoFileManager/Debug
/PhotoFileManager/PhotoFileManager/Debug
/PhotoFileManager/PhotoFileManager/x64/Debug
/PhotoFileManager/x64/Debug
/PhotoFileManager/.vs
/PhotoFileManager/PhotoFileManager/PhotoFileManager.aps
