################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhotoFileManaget/Debug
/PhotoFileManaget/.vs/PhotoFileManaget/v15
/PhotoFileManaget/PhotoFileManaget/Debug
/PhotoFileManager/.vs/PhotoFileManaget/v15
/PhotoFileManager/Debug
/PhotoFileManager/PhotoFileManager/Debug
/PhotoFileManager/.vs/PhotoFileManager/v15
/PhotoFileManager/PhotoFileManager/x64/Debug
/PhotoFileManager/x64/Debug
